<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${visitor!=null}" th:text="${visitor} + ', I hope you interested to hire me'"></title>
    <title th:if="${visitor==null}" th:text="'This is my CV'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h3>Basic Info</h3>
    <ul>
        <li>Nama : Muhammad Rezki</li>
        <li>TTL : Medan, 22 Juli 1998</li>
        <li>Address : Jalan H.ten komplek bulog blok c no.21</li>
    </ul>

    <br>

    <h3>Education</h3>
    <ul>
        <li>SD-SMP : SMP Islam Tugasku</li>
        <li>SMA : SMAN 68 JKT</li>
    </ul>
    <br>
    <h3>Decription</h3>
    <a>Part Programmer part designer</a>
</div>
</body>
</html>
